body{
    background-color:#fcde67;
}




.container{
    padding-top: 30px;
    padding-bottom:30px;
    width:80%;
    margin-left: 10%;
}

.padd{
        padding:20px;
    }


    .article{
        padding-top: 10px;
        padding-bottom: 10px;
        width:100%;
        background-color:#5bccf6;
        margin-top: 20px;
        border-radius: 10px;
    }

    .padd-article{
        padding: 15px;
        display: flex;
        justify-content:space-between;
    }

    .news-img{
        width:27%;
        height:200px;
        background-color:#FCF6F5FF;
        display: flex;
        
    }

    .news-img>img{
        width:100%;
    }

    .news-detail{
        height: 200px;
        width:70%;
        background-color:#5bccf6;
        font-family:seoge UI;
        padding-left:20px;
        padding-top:10px;
        font-weight:bold;
        color:#030e12;
        box-shadow: 0 0 2px lightseagreen;
    }

    h2,p{
        margin: 0px;
    }

    p:nth-child(2){
        margin-bottom: 15px;
        color:#ef9273;
        font-size:17px;
        font-weight:bold;


    }

    p:nth-child(3){
        color:#030e12;
        margin-bottom:20px;
        
    }

    .btn{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;
        padding-bottom: 5px;
        font-family: 'Seoge UI';
        border:none;
        color:white;
        justify-content:space-between;
        background-color:#030e12;
        font-weight:bold;
        text-transform:uppercase;
        font-size: 18px;
        border-radius:10px;
        cursor:pointer;
    }

    

    
    .filter{
        width: 100%;
        height: 45px;
        font-size:x-large;
        font-weight: bold;
        outline-color:#030e12;
        transition-duration: 2s;
    }
        
        
    

    .input{
        height: 45px;
        width: 100%;
        font-size:12px;
        text-indent:20px;
        margin-top:10px;
        margin-bottom:10px;
        display:inline-block;
        border-radius: 10px;
        outline: none;
        border: 1px solid gray;
        
    }

    

    

